@import url(./header.css);
@import url(./main.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1180px;
  margin: auto;
}
:root {
  --text: #000;

  --mertilho-circle: #FFCBEA;
  --mertilho-background: #C976A7;

  --kiwi-circle: #ECFFCC;
  --kiwi-background: #8FB351;

  --morango-circle: #FFE1E2;
  --morango-background: #FCB1B4;

  --banana-circle: #FFF7CF;
  --banana-background: #F5DE6E;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body, button, a {
  color: var(--text);
  font: 400 1rem "Open Sans", sans-serif;
}
html {
  background-color: var(--morango-background);
}
