.header {
  padding: 40px 0;
}
.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo img {
  width: 100%;
  width: 80px;
}
.header-nav ul {
  color: var(--text);
  font-size: 16px;
  display: flex;
  gap: 40px;
}